<!--  ./views/index.handlebars -->
<div class="container w-50 p-5 rounded" style="background-color:#EAE7E6">
  <div>
    <div class="p-1 btn-group">
      <button type="button" class="btn btn-outline-light text-info dropdown-toggle" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-filter mr-1"></i>篩選類別
        <div class="dropdown-menu">
          {{#each categories}}
          <a class="dropdown-item" href="#"><i class="fas {{this.code}} mr-2 text-secondary fa-sm"></i>{{this.name}}</a>
          {{/each}}
        </div>
    </div>
    <div class="p-3 mt-3">
      <h6>- Total Expenses -</h6>
      <h1 class="highlight text-center">$ 0</h1>
    </div>
  </div>

  <div class="p-3">
    <div class="row pt-2 pb-2 mb-2 bg-white">
      <div class="col-md-2 mx-auto">類別</div>
      <div class="col-md-6 mx-auto">名稱</div>
      <div class="col-md-2 mx-auto">金額</div>
      <div class="col-md-1 mx-auto"></div>
      <div class="col-md-1 mx-auto"></div>
    </div>
    {{#each records}}
    <div class="row my-2 border-bottom border-white">
      <div class="col-md-2 mx-auto"><i class="fas {{this.categoryIcon}} fa-lg"></i></div>
      <div class="col-md-6 mx-auto d-flex flex-column">
        <span>{{this.name}}</span>
        <span>{{this.date}}</span>
      </div>
      <div class="col-md-2 mx-auto">{{this.amount}}</div>
      <div class="col-md-1 mx-auto"><i class="far fa-edit"></i></div>
      <div class="col-md-1 mx-auto"><i class="far fa-trash-alt"></i></div>
    </div>
    {{/each}}
  </div>

</div>